@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h4> Welcome to the library</h4>
</div>

<h3>Media</h3>
<p>
    <a asp-controller="Media" asp-action="Index">Media</a>
</p>

<h3>Current Loans</h3>
<p>
    <a asp-controller="Loans" asp-action="Index">Loans</a>
</p>

<h3>Accounts</h3>
<p>
    <a asp-controller="Accounts" asp-action="Index">Account info</a>
</p>
